<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src="../../../assets/empezando.gif" width="960" height="540"
                style="display: block; margin: 0 0 0 250px;">
            <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <img (click)="verDirecto()" src="../../../assets/LOGO MARCOS.jpg" width="300" height="250"
                style="float: left; margin-right: 20px; margin: 0 auto 0 250px;">
            <br> <br><br>
            <span class="titulo" style="margin-left: 40px;">1000000 </span>
            <span class="titulo" style="margin-left: 80px;">espectadores</span>
        </div>

        <div class="col-6">
            <img src="../../../assets/best_1.gif" width="960" height="540" style="display: block; margin: 0 0 0 250px;">
            <br> <br>
            <img (click)="verDirectoKarlos()" src="../../../assets/Karlos_Arguinano.png" width="300" height="250"
                style="display: block; margin: 0 0 0 550px;">
            <br> <br>
            <img (click)="verDirectoProgramador()" src="../../../assets/programador.jpg" width="300" height="250"
                style="display: block; margin: 0 0 0 550px;">
        </div>
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br>
    <div class="text-center mt-3">
        <button class="btn btn-secondary btn-lg" (click)="volver()">VOLVER</button>
    </div>
</div>