<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 offset-lg-0">
            <div class="card-body text-center mx-auto">
                <p class="descripcion" style="font-size: 25px; text-align: center;">
                    <link rel="stylesheet">
                    <br> <br>
                    StreamNation es la plataforma definitiva para apasionados streamers y fanáticos de los directos en
                    todo el mundo. Ofrecemos un espacio en línea dinámico y vibrante donde los creadores de contenido
                    pueden transmitir en vivo, interactuar con su audiencia y compartir su pasión con el mundo. Ya seas
                    un entusiasta del juego, un músico talentoso, un cocinero creativo o simplemente alguien con algo
                    que decir, StreamNation te brinda las herramientas y la audiencia que necesitas para destacar.
                    <br> <br> <br>
                    Qué Ofrecemos:
                    <br> <br>
                    Transmisiones en Vivo de Alta Calidad: Ofrecemos transmisiones en vivo de alta definición que
                    permiten a los streamers mostrar sus talentos con la mejor calidad de audio y video. Tu audiencia se
                    sumergirá por completo en tus directos.
                    <br>
                    Variedad de Contenido: StreamNation abarca una amplia gama de categorías, desde juegos y música
                    hasta arte, cocina, charlas y más. Sea cual sea tu pasión, encontrarás un lugar para destacar.
                    <br>
                    Creación de Red Social: Haz conexiones significativas con otros creadores y forma parte de una red
                    social vibrante de apoyo mutuo. Colabora en proyectos, comparte consejos y haz crecer tu presencia
                    en línea.
                    <br> <br> <br>
                    Únete a nuestra Comunidad!!!
                    <br> <br>
                    Ya seas un streamer experimentado o estás comenzando tu viaje en el mundo de las transmisiones en
                    vivo, StreamNation te da la plataforma y el apoyo que necesitas para triunfar.
                    Únete a nuestra comunidad diversa y creativa y comparte tus pasiones con el mundo. ¡Comienza tu
                    viaje con StreamNation hoy mismo y lleva tus transmisiones en vivo al siguiente nivel!
                    <br> <br> <br>
                    ¿Necesitas ayuda o asistencia? ¿Quieres trabajar con nosotros?, contáctanos en
                    <br>
                    <a href="mailto:streamnation.contact@gmail.com">
                        <i class="pi pi-envelope"></i> streamnation.contact&#64;gmail.com
                    </a>
                    <br> <br> <br>
                    <button class="btn btn-secondary btn-lg mx-auto" (click)="volver()">VOLVER</button>
                </p>
            </div>
        </div>
    </div>
</div>