.titulo {
    font-size: 100px;
    /* Tamaño de fuente */
    font-family: 'Arial Black', sans-serif;
    /* Fuente en negrita */
    color: #ff9900;
    /* Color de texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra de texto */
    background: linear-gradient(45deg, #ff9900, #ff3399);
    /* Degradado de fondo */
    -webkit-background-clip: text;
    background-clip: text;
    /* Aplicar degradado al texto */
    -webkit-text-fill-color: transparent;
    /* Ocultar el color de texto */
}

h2 {
    color: white;
    /* Color del texto blanco */
    font-size: 40px;
    /* Tamaño de fuente grande (ajusta según tus preferencias) */
}

body {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Estilo para el contenedor del botón */
.container {
    position: relative;
}

.btn-custom2 {
    margin: 5px;
    border-radius: 50px;
    background-color: blue;
    color: white;
    position: absolute;
    top: 0;
    right: -550px;
    /* Aumenta el valor de right para mover más a la derecha */
}

.nombre-usuario {
    margin: 5px;
    color: white;
    position: absolute;
    top: 0;
    left: -400px;
    /* Aumenta el valor de right para mover más a la derecha */
}


button {
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}

.modal {
    background-color: #fff;
    width: 900px;
    height: 2000px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    opacity: 0.7;
    font-size: 14px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #b359bd;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #b359bd;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.custom-modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Aumentar el tamaño del botón de cierre */
.btn-close {
    font-size: 10px;
}

/* Aumentar el tamaño del título del modal */
.modal-title {
    font-size: 28px;
}

/* Estilo personalizado para alinear el botón a la derecha */
.modal-content .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}


/* Aumentar el tamaño del botón "Iniciar Sesión" */
.btn-primary {
    font-size: 24px;
    padding: 15px 30px;
    /* Aumentar el padding para hacer el botón más grande */
}

/* Aumentar el tamaño de los elementos de formulario */
.form-control-lg {
    font-size: 24px;
    padding: 15px;
    /* Aumentar el padding para hacer los campos de entrada más grandes */
}

/* Estilos CSS personalizados para hacer más grande el texto del modal-footer */
.modal-footer {
    font-size: 30px;
    /* Aumenta el tamaño del texto */
    padding: 20px;
    /* Aumenta el espaciado alrededor del texto */
}

/* Aumenta el tamaño del enlace dentro del texto */
.modal-footer a {
    font-size: 20px;
    /* Aumenta el tamaño del enlace */
}

.modal-footer p {
    font-size: 24px;
    /* Aumenta el tamaño del texto */
}

.enlace-azul {
    color: blue;
    /* Color azul para el texto del enlace */
    /* Puedes agregar otros estilos si es necesario, como subrayado o cambio de fuente */
}