<div class="container mt-5">
    <div class="row">
        <div class="col-lg-100 offset-lg-50" style="text-align: center;">
            <div>
                <img src="../../../assets/programador.jpg" width="300" height="250">
            </div>
            <br><br> <br><br>
            <div>
                <video width="1280" height="720" controls>
                    <source src="../../../assets/programador.mp4" type="video/mp4">
                </video>
            </div>
            <br><br><br><br><br><br>
            <button class="btn btn-secondary btn-lg float-start" (click)="volver()">VOLVER</button>
        </div>
    </div>
</div>